@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e6eff6;
}

.title{
    padding:10px ;
    font-size: 20px;
}
.hdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.vdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

nav p {
    font-size: 12px;
    color: gray;
}

nav label {
    font-weight: 600;
}

nav i {
    padding: 10px;
    border-radius: 100px;
    background: white;
    position: relative;
    left: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

nav i:hover {
    background: #AEF21C;
    transition: all 0.3s;
}

#notificationNumBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #AEF21C;
    font-weight: 600;
    color: black;
    padding: 3px;
    height: 10px;
    width: 10px;
    font-size: 10px;
    border-radius: 100px;
    position: relative;
    top: -9px;
    right: 1px;
    border: 1px solid white;
}

.totalBalanceDiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.totalBalanceDiv p {
    color: gray;
    font-weight: 500;
}

#balance {
    font-size: 40px;
    font-family: "Work Sans", serif;
}

#balance span {
    font-size: 20px;
    color: gray;
}

.actionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.actionDiv i {
    background-color: white;
    padding: 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionDiv i:hover {
    background-color: #AEF21C;
    transition: all 0.3s;
}

.actionDiv label {
    padding: 3px 0;
    font-size: 14px;
    color: gray;
}

.mycardsDiv {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: #AEF21C;
    width: 230px;
    height: 140px;
    padding: 10px;
    border-radius: 20px;
}

.card p {
    color: rgb(93, 90, 90);
    font-size: 13px;
}

.card h3 {
    font-size: 25px;
}

.card h3 span {
    color: rgb(93, 90, 90);
    font-size: 20px;
}

.card img {
    width: 20px;
    position: relative;
    bottom: 60px;
    left: 210px;
}

.card i {
    font-size: 25px;
    position: relative;
    left: 200px;
}

#cardNumber {
    position: relative;
    bottom: -25px;
}

#addCard {
    padding: 10px;
    background-color: white;
    border: dashed 1px black;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 15px;
}

#addCard:hover {
    background-color: #AEF21C;
    transition: all 0.3s;
}

.historyDiv{
    display: flex;
    padding: 10px;
    flex-direction: column;   
    gap: 10px; 
}
.historyCard{
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    justify-content: space-between;
}

.historyCard img{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    padding: 10px;
}
.historyCard label{
font-size: 20px;

font-weight: 600;
}

.historyCard p {
    font-size: 14px;
    color: gray;
}

.in{
    
    color: rgb(42, 218, 42);
}

.historyCard:hover{
    transition: all .3s ;
    background-color: #AEF21C;
}
.historyCard:hover .in{
    color: black;
}
@media (min-width: 1024px){
    
    .actionDiv{
        justify-content: flex-start;
    }
    .historyCard{
        width: 900px;
    }
    .mycardsDiv{
        display: inline-flex;
       justify-content: space-around;

    }
}